<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Segeln</title>
        <link href="\static\style.css" rel="stylesheet">
        <script src="\static\functions.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <nav class="navbar">
            <div id="menu" class="menu">
                <ul>
                    <li><a href="{% url 'index' %}" >Home</a></li>
                </ul>
            </div>
        </nav>
        <div id="event-edit-form">
            <h1>Das Event bearbeiten:</h1>
            <form action="{% url 'event_edit' title=event.title %}" method="post">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Titel" value="{{ event.title }}"> <br>
                <input type="date" name="date" value="2001-01-01">
                <textarea name="describtion" placeholder="Beschreibung">{{ event.describtion }}</textarea> <br>

                <input class="btn btn-primary" type="submit" value="Bearbeiten">
            </form>
        </div>
    </body>
</html>